@font-face {
	font-family: "SFProDisplay";
	src: url("/fonts/SFProDisplay-Regular.ttf");
	font-style: normal;
}

@font-face {
	font-family: "SFProDisplayBold";
	src: url("/fonts/SFProDisplay-Semibold.ttf");
	font-style: normal;
}

@font-face {
	font-family: "SFProDisplayThin";
	src: url("/fonts/SFProDisplay-Thin.ttf");
	font-style: normal;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "SFProDisplay", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

* {
	box-sizing: border-box;
}

.bg-purple {
	background: #09157f;
}

.text-purple {
	color: #09157f;
}

.bg-theme {
	background: #f7f8fc;
}

.border-purple {
	border-color: #09157f;
}
