@font-face {
	font-family: "SFProDisplay";
	src: url("/fonts/SFProDisplay-Regular.ttf");
	font-style: normal;
}

@font-face {
	font-family: "SFProDisplayBold";
	src: url("/fonts/SFProDisplay-Semibold.ttf");
	font-style: normal;
}

@font-face {
	font-family: "SFProDisplayThin";
	src: url("/fonts/SFProDisplay-Thin.ttf");
	font-style: normal;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "SFProDisplay", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

* {
	box-sizing: border-box;
}

.bg-purple {
	background: #09157f;
}

.text-purple {
	color: #09157f;
}

.bg-theme {
	background: #f7f8fc;
}

.border-purple {
	border-color: #09157f;
}

.rounded-circle {
	border-radius: 50%;
}

.shadow-none {
	box-shadow: none !important;
}

.focus:outline-purple {
	outline-color: #09157f !important;
}

.selection .MuiInputBase-input {
	color: #fff;
	font-size: 14px;
}

.ant-table.ant-table-small .ant-table-tbody > tr > td {
	padding: 15px 8px !important;
}

.ant-table.ant-table-small .ant-table-tbody > tr {
	background: #f7f8fc;
	font-size: 12px;
}

.ant-table.ant-table-small .ant-table-thead > tr > th {
	font-size: 10px;
	color: #333;
}

.ant-table-measure-row {
	display: none;
}
